{% extends "layout.html" %}
{% block content %}

<header>
    <h1>LOGIN PAGE</h1>
</header>
<div>
    <form method="POST" id="login_form">
        <div class="form-group">
            <label for="username">Username:</label><input
                class="form-control" type="text" id="username"
                name="username" required><br/>
            <label for="password">Password:</label><input
                class="form-control" type='password' id="password"
                name="password" required>
            <button type="submit" class="btn btn-primary mt-4">
                Submit
            </button>
        </div>
    </form>
</div>

{% endblock %}